# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# debug

# local env files

# vercel

# typescript

# html
/public/static/*.html

# sass-cache
/public/static/.sass-cache/


# jquery
/public/static/

**/node_modules/

# json
*.json



myDjangoProject/db.sqlite3
myDjangoProject/myDjangoProject/*.pyc
